body {
  color: #454545;
  background-color: #fafafa;
  font-family: 'EB Garamond', serif;
}

@media (min-width: 768px) {
  body {
    font-size: 2em;
  }

  .page-title {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 1.8em;
  }

  .page-title {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 8px;
  }
}

@media (min-width: 600px) {
  .container {
    top: 10%;
    padding-bottom: 5%;
    max-width: 800px;
  }
}

@media (max-width: 599px) {
  .container {
    top: 3rem;
    max-width: 800px;
  }
}

.menu-container {
  max-width: 30em;
  margin-top: 25em;
}

.by {
  color: #999;
}

a {
  color: #333;
}

